* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cascadia Mono", sans-serif;
    ;
    background-color: #DAD8D8;
}


.container {
    background-color: #218714;
    padding: 25px 0;
    margin: 20px;
}

.titulo {
    background-color: #218714;
    text-align: center;
    color: #ffff;
}

.contenedor {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    margin: 20px;
}

.sidebar {
    width: 250px;
    background-color: blue;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-height: 500px;
}

.sidebar button {
    display: flex;
    border-radius: 15px;
    background-color: yellow;
    border: none;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}


.contenido {
    flex: 1;
    background-color:red;
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 20px;

}

.tarjetas {
    display: flex;
    gap: 15px;
    background-color: red;

}

.tarjeta {
    flex: 1;
    background-color: yellow;
    height: 250px;
}

.learn{
    background-color: #990099;
    padding: 30px;
    display: flex;
    justify-content: center;
}

.learn button{
    padding: 15px 40px;
    border-radius: 30px;
    border: none;
    background-color: beige;
    font-weight: bold;
    cursor: pointer;
    color: #990099;
    font-size: 1.1 em;
}